
label{
font-size: 16px;	
}
.registration-form
{
width: 350px;
height: 850px;
padding: 10px 40px;
box-sizing: border-box;
background: radial-gradient( #00CDAC,#02AAB0);
border-radius: 10px;
}
.registration-form input
{
width: 100%;
margin-bottom: 20px;
}
.registration-form input,
.registration-form input[type="username"],
.registration-form input[type="password"]
{
border: none;
border-bottom: 1px solid #fff;
background-color: transparent;
outline: none;
height: 40px;
width: 200px;
color: #fff;
font-size: 16px;
}

a{
	color:red;
	text-decoration:underline;
	cursor: pointer;
}

p
{
color: red;
}

